#footer
    background-color: var(--card-bg)
    border-top: #d8d8d81px solid
    margin-top: 4rem

  if hexo-config('footer_img') != false && hexo-config('mask.footer')
    &:before
      position: absolute
      width: 100%
      height: 100%
      background-color: var(--mark-bg)
      content: ''

#footer-wrap
  width: 100%
  max-width: 1400px
  margin: 0 auto
  padding: 1.5rem 15px
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -ms-flexbox
  display: box
  display: flex
  -webkit-box-pack: justify
  -moz-box-pack: justify
  -o-box-pack: justify
  -ms-flex-pack: justify
  -webkit-justify-content: space-between
  justify-content: space-between
  -webkit-box-align: center
  -moz-box-align: center
  -o-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  color: var(--text-color)
  align-items: center
  font-size: 15px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  a
    color: var(--text-color)

  .footer-left
    display: -webkit-box
    display: -moz-box
    display: -webkit-flex
    display: -ms-flexbox
    display: box
    display: flex
    -webkit-box-orient: vertical
    -moz-box-orient: vertical
    -o-box-orient: vertical
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column
  
  .footer-right
    display: -webkit-box
    display: -moz-box
    display: -webkit-flex
    display: -ms-flexbox
    display: box
    display: flex
    -webkit-box-orient: vertical
    -moz-box-orient: vertical
    -o-box-orient: vertical
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column

    .footer-links
      display: flex
      justify-content: flex-end
      a:not(:first-child):before
        content: '|'
        font-size: 14px
        line-height: 2.45
        margin: 0 10px
        color: var(--font-color) !important