#footer
  position: relative
  // 页脚透明 - start
  background: var(--footer-background)
  background-attachment: scroll
  background-position: bottom
  background-size: cover
  margin-top: 15px
  // 页脚透明 -end

  if hexo-config('footer_img') != false && hexo-config('mask.footer')
    &:before
      position: absolute
      width: 100%
      height: 100%
      background-color: var(--mark-bg)
      content: ''

#footer-wrap
  position: relative
  padding: 40px 20px
  // 页脚透明
  color: var(--font-color)
  text-align: center

  a
    // 页脚透明
    color: var(--font-color)

    &:hover
      text-decoration: underline

  .footer-separator
    margin: 0 4px

  .icp-icon
    padding: 0 4px
    max-height: 1.4em
    width: auto
    vertical-align: text-bottom
